@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  width: 15px;
  background-color: #eee; }

::-webkit-scrollbar-button {
  background-color: #eee; }

::-webkit-scrollbar-thumb {
  background-color: #ddd; }

::-webkit-scrollbar-thumb:active {
  background-color: #1F2E5F; }

body {
  background-color: #f8f8f8;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Arial'; }
  body.not-scroll {
    overflow-y: hidden; }

* {
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: #363636;
  outline: none; }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

input {
  outline: none;
  text-overflow: ellipsis; }

.select-control {
  position: relative; }
  .select-control .drop-down-launcher {
    padding: 6px;
    border-radius: 2px;
    border: none;
    background-color: #eee;
    margin-right: -4px;
    cursor: pointer;
    width: calc(100% - 12px);
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: background 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control .drop-down-launcher svg {
      width: 15px;
      height: 15px;
      fill: #29A9C8; }
    .select-control .drop-down-launcher span {
      text-transform: capitalize;
      width: calc(100% - 44px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 20px; }
  .select-control ul {
    height: 128px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    width: calc(100% - 2px);
    position: absolute;
    z-index: 999;
    border: 1px solid #eee;
    border-top: none;
    background-color: #f8f8f8;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control ul.ocultar {
      height: 0;
      opacity: 0;
      display: inline-block !important; }
    .select-control ul option, .select-control ul .option {
      cursor: pointer;
      padding: 6px 4px;
      font-family: 'Roboto';
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-top: 1px solid rgba(31, 46, 95, 0.32);
      transition: all 0.2s cubic-bezier(0, 0, 0.09, 0.87); }
      .select-control ul option:first-child, .select-control ul .option:first-child {
        border-top: none; }
      .select-control ul option:hover, .select-control ul .option:hover {
        background-color: rgba(31, 46, 95, 0.22);
        color: #363636; }
        .select-control ul option:hover + option, .select-control ul option:hover + .option, .select-control ul option:hover, .select-control ul .option:hover + option, .select-control ul .option:hover + .option, .select-control ul .option:hover {
          border-color: transparent; }
      .select-control ul option.activa, .select-control ul .option.activa {
        display: none; }
  .select-control.autocompletado {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .select-control.autocompletado input {
      width: calc(100% - 40px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important; }
      .select-control.autocompletado input:focus {
        cursor: auto !important; }
    .select-control.autocompletado ul {
      top: 36px;
      left: 0px; }
    .select-control.autocompletado img {
      height: 20px;
      width: 0px;
      margin-left: 0px;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control.autocompletado.loading img {
      opacity: 1;
      width: 20px;
      margin-left: 10px; }
    .select-control.autocompletado.loading ul {
      width: calc(100% - 28px); }
  .select-control.disabled .drop-down-launcher, .select-control.disabled, .select-control.disabled .drop-down-launcher input {
    cursor: not-allowed !important; }

.card {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
  color: #1F2E5F;
  box-shadow: 0 0 8px 0px rgba(31, 46, 95, 0.1); }
  .card svg {
    width: 120px;
    height: 120px;
    fill: currentColor;
    stroke: white; }
  .card > span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    opacity: 0.7; }
  .card#openRegister svg {
    fill: #25D7CF; }
  .card#openRegister span {
    color: #25D7CF; }
  @media screen and (max-width: 450px) {
    .card {
      height: 200px; } }

header {
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  header .logo {
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: cover; }
  header h1 {
    font-size: 13px;
    font-weight: 200; }

main {
  min-height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: space-around; }
  main .card {
    width: 40%; }
    main .card:hover {
      box-shadow: 0 0 2px 0px rgba(31, 46, 95, 0.1);
      position: relative; }
      main .card:hover span::after, main .card:hover span::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
        display: inline-block;
        position: absolute;
        animation: loading-line 1s cubic-bezier(0, 0, 0.09, 0.87); }
      main .card:hover span::before {
        animation-delay: 0.1s;
        animation-duration: 0.8s;
        margin-left: -100%;
        background-color: currentColor; }
  @media screen and (max-width: 650px) {
    main {
      flex-direction: column; }
      main .card {
        margin-bottom: 40px;
        max-width: 400px;
        width: 80%; } }

#modals {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 92;
  transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  #modals > * {
    display: none;
    opacity: 0;
    background-color: white;
    height: 80%;
    width: 80%;
    max-height: 160px;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #modals > * form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px; }
      #modals > * form input {
        width: calc(100% - 12px);
        border: none;
        border-bottom: 1px solid #363636;
        padding: 6px;
        margin-bottom: 20px;
        outline: none;
        font-size: 16px;
        font-family: 'Raleway'; }
      #modals > * form .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #modals > * form .form-group > * {
          width: calc(50% - 18px); }
      #modals > * form .button {
        border: none;
        background-color: transparent;
        padding: 0 10px;
        text-align: center;
        cursor: pointer;
        position: relative;
        /* line */
    	/*&::after{ 
			width: 100%;
		    height: 1px;
		    background-color: #363636;
		    top: 22px;
    	}*/ }
        #modals > * form .button .text {
          position: relative;
          z-index: 3;
          text-decoration: none;
          color: #363636; }
        #modals > * form .button::before, #modals > * form .button::after {
          content: '';
          z-index: 2;
          left: 0;
          display: inline-block;
          position: absolute;
          transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
        #modals > * form .button::before {
          /* background */
          width: 0%;
          height: 8px;
          background-color: #1BF9CF;
          margin-top: 5px; }
      #modals > * form .button:hover {
        /* line */
        /*&::after{
        	width: 0%;	    		
        }*/ }
        #modals > * form .button:hover::before {
          width: 100%; }
  #modals .header h3 {
    margin: 0;
    margin-top: -6px;
    font-weight: 200;
    font-size: 14px; }
  #modals .close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    stroke: white;
    stroke-width: 1.5;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #modals .close:hover {
      fill: #E26B6E; }
  #modals .login {
    max-width: 300px;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    overflow: hidden; }
    #modals .login.hide {
      width: 0 !important;
      padding-left: 0;
      padding-right: 0;
      opacity: 0; }
    #modals .login .button::before {
      opacity: 0.5;
      background-color: #E26B6E; }
  #modals .register {
    max-width: 380px;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    overflow: hidden; }
    #modals .register.hide {
      width: 0 !important;
      padding-left: 0;
      padding-right: 0;
      opacity: 0; }

@keyframes loading-line {
  0% {
    left: 0;
    margin-left: -100%; }
  10% {
    margin-left: -20%; }
  15% {
    margin-left: 10%; }
  25% {
    margin-left: 50%; }
  30% {
    margin-left: 60%; }
  50% {
    margin-left: 80%; }
  70% {
    margin-left: 100%; }
  80% {
    margin-left: 100%; }
  100% {
    margin-left: 100%; } }

/*# sourceMappingURL=auth.css.map */
