@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  width: 15px;
  background-color: #eee; }

::-webkit-scrollbar-button {
  background-color: #eee; }

::-webkit-scrollbar-thumb {
  background-color: #ddd; }

::-webkit-scrollbar-thumb:active {
  background-color: #1F2E5F; }

body {
  background-color: #f8f8f8;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Arial'; }
  body.not-scroll {
    overflow-y: hidden; }

* {
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: #363636;
  outline: none; }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

input {
  outline: none;
  text-overflow: ellipsis; }

.select-control {
  position: relative; }
  .select-control .drop-down-launcher {
    padding: 6px;
    border-radius: 2px;
    border: none;
    background-color: #eee;
    margin-right: -4px;
    cursor: pointer;
    width: calc(100% - 12px);
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: background 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control .drop-down-launcher svg {
      width: 15px;
      height: 15px;
      fill: #29A9C8; }
    .select-control .drop-down-launcher span {
      text-transform: capitalize;
      width: calc(100% - 44px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 20px; }
  .select-control ul {
    height: 128px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    width: calc(100% - 2px);
    position: absolute;
    z-index: 999;
    border: 1px solid #eee;
    border-top: none;
    background-color: #f8f8f8;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control ul.ocultar {
      height: 0;
      opacity: 0;
      display: inline-block !important; }
    .select-control ul option, .select-control ul .option {
      cursor: pointer;
      padding: 6px 4px;
      font-family: 'Roboto';
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-top: 1px solid rgba(31, 46, 95, 0.32);
      transition: all 0.2s cubic-bezier(0, 0, 0.09, 0.87); }
      .select-control ul option:first-child, .select-control ul .option:first-child {
        border-top: none; }
      .select-control ul option:hover, .select-control ul .option:hover {
        background-color: rgba(31, 46, 95, 0.22);
        color: #363636; }
        .select-control ul option:hover + option, .select-control ul option:hover + .option, .select-control ul option:hover, .select-control ul .option:hover + option, .select-control ul .option:hover + .option, .select-control ul .option:hover {
          border-color: transparent; }
      .select-control ul option.activa, .select-control ul .option.activa {
        display: none; }
  .select-control.autocompletado {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .select-control.autocompletado input {
      width: calc(100% - 40px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important; }
      .select-control.autocompletado input:focus {
        cursor: auto !important; }
    .select-control.autocompletado ul {
      top: 36px;
      left: 0px; }
    .select-control.autocompletado img {
      height: 20px;
      width: 0px;
      margin-left: 0px;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control.autocompletado.loading img {
      opacity: 1;
      width: 20px;
      margin-left: 10px; }
    .select-control.autocompletado.loading ul {
      width: calc(100% - 28px); }
  .select-control.disabled .drop-down-launcher, .select-control.disabled, .select-control.disabled .drop-down-launcher input {
    cursor: not-allowed !important; }

.card {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
  color: #1F2E5F;
  box-shadow: 0 0 8px 0px rgba(31, 46, 95, 0.1); }
  .card svg {
    width: 120px;
    height: 120px;
    fill: currentColor;
    stroke: white; }
  .card > span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    opacity: 0.7; }
  .card#openRegister svg {
    fill: #25D7CF; }
  .card#openRegister span {
    color: #25D7CF; }
  @media screen and (max-width: 450px) {
    .card {
      height: 200px; } }

header {
  width: calc(100% - 40px);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .logo {
    width: 50px;
    height: 50px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: cover; }
  header .menu a {
    text-decoration: none;
    padding: 4px 8px;
    position: relative;
    color: #363636;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    header .menu a .text {
      position: relative;
      z-index: 3;
      text-decoration: none; }
      @media screen and (max-width: 430px) {
        header .menu a .text {
          font-size: 12px; } }
    header .menu a::before {
      content: '';
      z-index: 2;
      left: 0;
      display: inline-block;
      position: absolute;
      width: 0%;
      height: 8px;
      margin-top: 5px;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    header .menu a[href="consultar.html"]::before {
      background-color: #1F2E5F;
      opacity: 0.2; }
    header .menu a[href="reservar.html"]::before {
      background-color: #25D7CF; }
    header .menu a[href="pagos.html"]::before {
      background-color: #E26B6E;
      opacity: 0.5; }
    header .menu a[href="cuenta.html"]::before {
      background-color: #ffd4b0;
      opacity: 0.5; }
    header .menu a:hover::before {
      width: 100%; }
  header .config, header .config .filters, header .config .from-to {
    display: flex;
    align-items: center; }
  header .config .filters {
    margin-left: 20px; }
    header .config .filters > span {
      margin-right: 10px;
      display: inline-block; }
  header .config .select-control {
    width: 120px;
    margin-right: 10px; }
    header .config .select-control span {
      font-family: 'Roboto';
      font-weight: 200; }
    header .config .select-control[name="desde"], header .config .select-control[name="hasta"] {
      width: 180px; }
    header .config .select-control[name="horario"] {
      width: 180px; }
    header .config .select-control[name="tarifas"] {
      width: 180px; }
      header .config .select-control[name="tarifas"] ul:not(.ocultar) {
        height: 67px; }
    header .config .select-control[name="estado"] {
      width: 150px; }
      header .config .select-control[name="estado"] .option {
        position: relative; }
        header .config .select-control[name="estado"] .option::after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 100%;
          position: absolute;
          right: 6px;
          top: 12px; }
        header .config .select-control[name="estado"] .option[value="retrasado"]::after {
          background-color: #5029c8;
          opacity: 0.7; }
        header .config .select-control[name="estado"] .option[value="llego"]::after {
          background-color: #1BF9CF;
          opacity: 0.9; }
        header .config .select-control[name="estado"] .option[value="salio"]::after {
          background-color: #2b70c6;
          opacity: 0.9; }
        header .config .select-control[name="estado"] .option[value="pospuesto"]::after {
          background-color: #ffd4b0;
          opacity: 0.9; }
        header .config .select-control[name="estado"] .option[value="cancelado"]::after {
          background-color: #E26B6E;
          opacity: 0.9; }
        header .config .select-control[name="estado"] .option:hover {
          background-color: #f1f1f1; }
  header .toggle-filters {
    position: absolute;
    top: -60px;
    padding: 0px 8px;
    cursor: pointer;
    opacity: 0;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    z-index: 99999;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    height: 40px;
    width: 40px;
    align-items: center; }
    header .toggle-filters > * {
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    header .toggle-filters svg {
      fill: white;
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px; }
    header .toggle-filters .close {
      opacity: 0; }
    header .toggle-filters .filters-ico {
      margin-left: 0;
      fill: #363636;
      display: inline-block; }
  @media screen and (max-width: 1194px) {
    header .config {
      flex-direction: column;
      align-items: flex-start; }
      header .config .from-to {
        margin-bottom: 12px; }
    header .menu {
      align-self: flex-start;
      position: absolute;
      right: 20px;
      top: 15px; } }
  @media screen and (max-width: 660px) {
    header {
      height: 20px; }
      header .toggle-filters {
        opacity: 1;
        top: 6px; }
        header .toggle-filters.active {
          right: 0; }
          header .toggle-filters.active .close {
            opacity: 1; }
          header .toggle-filters.active .filters-ico {
            margin-left: -30px;
            opacity: 0; }
      header .config {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: rgba(30, 30, 30, 0.74);
        z-index: 999;
        align-items: center;
        justify-content: center;
        top: -120%;
        opacity: 0;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
        header .config > * {
          width: 80%;
          max-width: 380px; }
        header .config .from-to .select-control:nth-child(2) {
          margin-right: 0; }
        header .config .filters {
          flex-direction: column;
          margin-left: 0; }
          header .config .filters > * {
            width: 100% !important;
            margin-right: 0 !important; }
          header .config .filters > span {
            color: white;
            margin-bottom: 10px; }
          header .config .filters .select-control {
            margin-bottom: 20px; }
        header .config.show {
          top: 0;
          opacity: 1; } }

#flights {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-right: 20px; }
  #flights .flight {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
    max-width: none;
    width: calc(100% / 4 - 20px);
    margin-bottom: 20px; }
    #flights .flight .img {
      width: 100%;
      height: 80%;
      margin-top: -16px;
      margin-bottom: 15px;
      background-position: center;
      background-size: cover;
      position: relative; }
      #flights .flight .img::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
        background: #e6e6fa;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #flights .flight svg {
      width: 15px;
      height: 15px;
      stroke: white;
      stroke-width: 0.5; }
    #flights .flight .content {
      display: flex;
      flex-direction: column;
      width: calc(100% - 20px);
      padding: 0 10px; }
      #flights .flight .content > * {
        display: flex;
        align-items: center;
        justify-content: space-between; }
      #flights .flight .content > div:last-child {
        justify-content: flex-start;
        margin-top: 10px;
        margin-bottom: 15px; }
      #flights .flight .content .path {
        display: flex;
        align-items: center; }
        #flights .flight .content .path svg {
          margin: 0 6px; }
      #flights .flight .content .state {
        font-size: 10px;
        text-transform: uppercase;
        position: relative;
        margin-right: 20px;
        overflow: visible;
        opacity: 1; }
        #flights .flight .content .state::after {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 100%;
          position: absolute;
          right: -15px; }
        #flights .flight .content .state.retrasado::after {
          background-color: #5029c8;
          opacity: 0.7; }
        #flights .flight .content .state.llego::after {
          background-color: #1BF9CF;
          opacity: 0.9; }
        #flights .flight .content .state.salio::after {
          background-color: #2b70c6;
          opacity: 0.9; }
        #flights .flight .content .state.pospuesto::after {
          background-color: #ffd4b0;
          opacity: 0.9; }
        #flights .flight .content .state.cancelado::after {
          background-color: #E26B6E;
          opacity: 0.9; }
      #flights .flight .content .cost {
        font-family: 'Roboto';
        font-weight: 200;
        display: inline-block; }
        #flights .flight .content .cost svg {
          fill: #1BF9CF;
          margin-bottom: -3px; }
      #flights .flight .content .airline {
        margin-left: 20px;
        position: relative;
        overflow: visible; }
        #flights .flight .content .airline::before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 100%;
          position: absolute;
          background-color: #363636;
          left: -12px;
          top: 7px; }
    #flights .flight:hover .img:after {
      opacity: 0.4; }
    @media screen and (max-width: 1210px) {
      #flights .flight {
        width: calc(100% / 3 - 20px); } }
    @media screen and (max-width: 915px) {
      #flights .flight {
        width: calc(100% / 2 - 20px); } }
    @media screen and (max-width: 615px) {
      #flights .flight {
        width: calc(100% - 20px); } }

#modals {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 92;
  transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  #modals > * {
    display: none;
    opacity: 0;
    background-color: white;
    height: 80%;
    width: 80%;
    max-height: 270px;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    transition: opacity 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
  #modals .header h3 {
    margin: 0;
    margin-top: -6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px); }
    #modals .header h3 .button {
      font-weight: 200;
      font-size: 14px;
      padding: 4px 8px;
      position: relative;
      color: #363636;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #modals .header h3 .button .text {
        position: relative;
        z-index: 3;
        text-decoration: none; }
      #modals .header h3 .button::before {
        content: '';
        z-index: 2;
        left: 0;
        display: inline-block;
        position: absolute;
        width: 0%;
        height: 8px;
        margin-top: 4px;
        background-color: #25D7CF;
        transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #modals .header h3 .button:hover::before {
        width: 100%; }
    #modals .header h3 .schedule {
      font-size: 14px;
      font-weight: 200;
      opacity: 0.8;
      font-family: 'Roboto'; }
  #modals .close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    stroke: white;
    stroke-width: 1.5;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #modals .close:hover {
      fill: #E26B6E; }
  #modals .book {
    max-width: 400px;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    overflow: hidden; }
    #modals .book .content {
      display: flex;
      flex-direction: column;
      width: 100%; }
      #modals .book .content > * {
        display: flex; }
      #modals .book .content .info {
        width: 100%;
        align-items: center;
        justify-content: space-between; }
        #modals .book .content .info h2 {
          font-size: 22px;
          font-weight: 300;
          margin-bottom: 5px; }
        #modals .book .content .info:nth-child(2) {
          margin-bottom: 20px; }
        #modals .book .content .info span {
          font-weight: 200;
          font-size: 14px; }
        #modals .book .content .info .id {
          font-family: 'Roboto';
          font-size: 16px; }
      #modals .book .content .seating {
        flex-wrap: wrap;
        width: 100%; }
        #modals .book .content .seating .seat {
          width: calc(100% / 7 - 8px);
          padding: 4px;
          transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
          text-align: center;
          cursor: pointer;
          border-radius: 2px;
          font-family: 'Roboto';
          font-weight: 200; }
          #modals .book .content .seating .seat:hover {
            background-color: #eee; }
          #modals .book .content .seating .seat.occupied {
            background-color: #E26B6E;
            color: #363636; }
            #modals .book .content .seating .seat.occupied:hover {
              background-color: #E26B6E; }
          #modals .book .content .seating .seat.selected {
            color: #25D7CF; }

/*# sourceMappingURL=consultar.css.map */
