@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  width: 15px;
  background-color: #eee; }

::-webkit-scrollbar-button {
  background-color: #eee; }

::-webkit-scrollbar-thumb {
  background-color: #ddd; }

::-webkit-scrollbar-thumb:active {
  background-color: #1F2E5F; }

body {
  background-color: #f8f8f8;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Arial'; }
  body.not-scroll {
    overflow-y: hidden; }

* {
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: #363636;
  outline: none; }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

input {
  outline: none;
  text-overflow: ellipsis; }

.select-control {
  position: relative; }
  .select-control .drop-down-launcher {
    padding: 6px;
    border-radius: 2px;
    border: none;
    background-color: #eee;
    margin-right: -4px;
    cursor: pointer;
    width: calc(100% - 12px);
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: background 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control .drop-down-launcher svg {
      width: 15px;
      height: 15px;
      fill: #29A9C8; }
    .select-control .drop-down-launcher span {
      text-transform: capitalize;
      width: calc(100% - 44px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 20px; }
  .select-control ul {
    height: 128px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    width: calc(100% - 2px);
    position: absolute;
    z-index: 999;
    border: 1px solid #eee;
    border-top: none;
    background-color: #f8f8f8;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control ul.ocultar {
      height: 0;
      opacity: 0;
      display: inline-block !important; }
    .select-control ul option, .select-control ul .option {
      cursor: pointer;
      padding: 6px 4px;
      font-family: 'Roboto';
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-top: 1px solid rgba(31, 46, 95, 0.32);
      transition: all 0.2s cubic-bezier(0, 0, 0.09, 0.87); }
      .select-control ul option:first-child, .select-control ul .option:first-child {
        border-top: none; }
      .select-control ul option:hover, .select-control ul .option:hover {
        background-color: rgba(31, 46, 95, 0.22);
        color: #363636; }
        .select-control ul option:hover + option, .select-control ul option:hover + .option, .select-control ul option:hover, .select-control ul .option:hover + option, .select-control ul .option:hover + .option, .select-control ul .option:hover {
          border-color: transparent; }
      .select-control ul option.activa, .select-control ul .option.activa {
        display: none; }
  .select-control.autocompletado {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .select-control.autocompletado input {
      width: calc(100% - 40px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important; }
      .select-control.autocompletado input:focus {
        cursor: auto !important; }
    .select-control.autocompletado ul {
      top: 36px;
      left: 0px; }
    .select-control.autocompletado img {
      height: 20px;
      width: 0px;
      margin-left: 0px;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control.autocompletado.loading img {
      opacity: 1;
      width: 20px;
      margin-left: 10px; }
    .select-control.autocompletado.loading ul {
      width: calc(100% - 28px); }
  .select-control.disabled .drop-down-launcher, .select-control.disabled, .select-control.disabled .drop-down-launcher input {
    cursor: not-allowed !important; }

.card {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
  color: #1F2E5F;
  box-shadow: 0 0 8px 0px rgba(31, 46, 95, 0.1); }
  .card svg {
    width: 120px;
    height: 120px;
    fill: currentColor;
    stroke: white; }
  .card > span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    opacity: 0.7; }
  .card#openRegister svg {
    fill: #25D7CF; }
  .card#openRegister span {
    color: #25D7CF; }
  @media screen and (max-width: 450px) {
    .card {
      height: 200px; } }

header {
  width: calc(100% - 40px);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .logo {
    width: 50px;
    height: 50px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: cover; }
  header .menu a {
    text-decoration: none;
    padding: 4px 8px;
    position: relative;
    color: #363636;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    header .menu a .text {
      position: relative;
      z-index: 3;
      text-decoration: none; }
      @media screen and (max-width: 430px) {
        header .menu a .text {
          font-size: 12px; } }
    header .menu a::before {
      content: '';
      z-index: 2;
      left: 0;
      display: inline-block;
      position: absolute;
      width: 0%;
      height: 8px;
      margin-top: 5px;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    header .menu a[href="consultar.html"]::before {
      background-color: #1F2E5F;
      opacity: 0.2; }
    header .menu a[href="reservar.html"]::before {
      background-color: #25D7CF; }
    header .menu a[href="pagos.html"]::before {
      background-color: #E26B6E;
      opacity: 0.5; }
    header .menu a[href="cuenta.html"]::before {
      background-color: #ffd4b0;
      opacity: 0.5; }
    header .menu a:hover::before {
      width: 100%; }

body {
  display: flex;
  flex-direction: column;
  align-items: center; }

form {
  width: calc(100% - 80px);
  max-width: 450px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: calc(100% - 20px);
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0px rgba(31, 46, 95, 0.1); }
  form .form-element {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%; }
    form .form-element > *:not(label) {
      width: calc(100% - 170px); }
    form .form-element input {
      border: none;
      border-bottom: 1px solid #363636;
      padding: 6px 0;
      margin-bottom: 20px;
      outline: none;
      font-size: 16px;
      font-family: 'Roboto';
      font-weight: 200; }
    form .form-element .form-group {
      display: flex;
      flex-direction: column;
      align-items: center; }
      form .form-element .form-group input {
        width: 100%; }
    @media screen and (max-width: 450px) {
      form .form-element:nth-child(2) {
        flex-direction: column; }
        form .form-element:nth-child(2) .form-group {
          width: 100%; } }
  form .credit-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px; }
    form .credit-card > span {
      align-self: flex-start;
      font-size: 14px;
      margin-bottom: 10px;
      opacity: 0.7; }
    form .credit-card input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #363636;
      padding: 6px 0;
      margin-bottom: 20px;
      outline: none;
      font-size: 16px;
      font-family: 'Roboto';
      font-weight: 200; }
    form .credit-card .form-group {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding-top: 30px; }
      form .credit-card .form-group > * {
        width: calc(100% - 168px); }
      form .credit-card .form-group .logo {
        width: 50px;
        height: 50px; }
      form .credit-card .form-group input[name="ccv"] {
        width: 60px;
        max-width: 60px;
        margin-bottom: 3px; }
      form .credit-card .form-group .expiracion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; }
        form .credit-card .form-group .expiracion > span {
          position: absolute;
          top: -30px;
          left: 1px; }
        form .credit-card .form-group .expiracion .select-control {
          width: calc(50% - 10px);
          font-family: 'Roboto';
          font-weight: 200; }
        form .credit-card .form-group .expiracion:last-child {
          margin-left: 10px; }
      @media screen and (max-width: 430px) {
        form .credit-card .form-group {
          justify-content: flex-start; }
          form .credit-card .form-group input[name="ccv"] {
            margin-left: 20px; }
          form .credit-card .form-group .logo {
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: -25px;
            right: 5px; }
          form .credit-card .form-group .expiracion {
            width: calc(100% - 80px); } }
  form .button {
    font-weight: 200;
    font-size: 14px;
    padding: 4px 8px;
    position: relative;
    color: #363636;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    form .button .text {
      position: relative;
      z-index: 3;
      text-decoration: none; }
    form .button::before {
      content: '';
      z-index: 2;
      left: 0;
      display: inline-block;
      position: absolute;
      width: 0%;
      height: 8px;
      margin-top: 4px;
      background-color: #ffd4b0;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    form .button:hover::before {
      width: 100%; }
  @media screen and (max-width: 390px) {
    form {
      width: calc(100% - 40px); } }

/*# sourceMappingURL=cuenta.css.map */
