@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  width: 15px;
  background-color: #eee; }

::-webkit-scrollbar-button {
  background-color: #eee; }

::-webkit-scrollbar-thumb {
  background-color: #ddd; }

::-webkit-scrollbar-thumb:active {
  background-color: #1F2E5F; }

body {
  background-color: #f8f8f8;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Arial'; }
  body.not-scroll {
    overflow-y: hidden; }

* {
  -webkit-tap-highlight-color: transparent; }

a {
  text-decoration: none;
  color: #363636;
  outline: none; }

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0; }

input {
  outline: none;
  text-overflow: ellipsis; }

.select-control {
  position: relative; }
  .select-control .drop-down-launcher {
    padding: 6px;
    border-radius: 2px;
    border: none;
    background-color: #eee;
    margin-right: -4px;
    cursor: pointer;
    width: calc(100% - 12px);
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: background 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control .drop-down-launcher svg {
      width: 15px;
      height: 15px;
      fill: #29A9C8; }
    .select-control .drop-down-launcher span {
      text-transform: capitalize;
      width: calc(100% - 44px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 20px; }
  .select-control ul {
    height: 128px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0;
    width: calc(100% - 2px);
    position: absolute;
    z-index: 999;
    border: 1px solid #eee;
    border-top: none;
    background-color: #f8f8f8;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control ul.ocultar {
      height: 0;
      opacity: 0;
      display: inline-block !important; }
    .select-control ul option, .select-control ul .option {
      cursor: pointer;
      padding: 6px 4px;
      font-family: 'Roboto';
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-top: 1px solid rgba(31, 46, 95, 0.32);
      transition: all 0.2s cubic-bezier(0, 0, 0.09, 0.87); }
      .select-control ul option:first-child, .select-control ul .option:first-child {
        border-top: none; }
      .select-control ul option:hover, .select-control ul .option:hover {
        background-color: rgba(31, 46, 95, 0.22);
        color: #363636; }
        .select-control ul option:hover + option, .select-control ul option:hover + .option, .select-control ul option:hover, .select-control ul .option:hover + option, .select-control ul .option:hover + .option, .select-control ul .option:hover {
          border-color: transparent; }
      .select-control ul option.activa, .select-control ul .option.activa {
        display: none; }
  .select-control.autocompletado {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .select-control.autocompletado input {
      width: calc(100% - 40px) !important;
      border: none !important;
      cursor: pointer;
      background-color: transparent;
      padding-left: 0 !important; }
      .select-control.autocompletado input:focus {
        cursor: auto !important; }
    .select-control.autocompletado ul {
      top: 36px;
      left: 0px; }
    .select-control.autocompletado img {
      height: 20px;
      width: 0px;
      margin-left: 0px;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    .select-control.autocompletado.loading img {
      opacity: 1;
      width: 20px;
      margin-left: 10px; }
    .select-control.autocompletado.loading ul {
      width: calc(100% - 28px); }
  .select-control.disabled .drop-down-launcher, .select-control.disabled, .select-control.disabled .drop-down-launcher input {
    cursor: not-allowed !important; }

.card {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: 300px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
  color: #1F2E5F;
  box-shadow: 0 0 8px 0px rgba(31, 46, 95, 0.1); }
  .card svg {
    width: 120px;
    height: 120px;
    fill: currentColor;
    stroke: white; }
  .card > span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    opacity: 0.7; }
  .card#openRegister svg {
    fill: #25D7CF; }
  .card#openRegister span {
    color: #25D7CF; }
  @media screen and (max-width: 450px) {
    .card {
      height: 200px; } }

/*# sourceMappingURL=main.css.map */
