@import 'main.scss';
header{
	width: calc(100% - 40px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.logo{
		width: 80px;
		height: 80px;
		background-image: url(../img/logo.png);
		background-position: center;
		background-size: cover;
	}
	h1{
		font-size: 13px;
		font-weight: 200;
	}
}
main{
	min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .card{
    	width: 40%;
    	&:hover{
	    	box-shadow: 0 0 2px 0px rgba(31, 46, 95, 0.1);
	    	position: relative;
	    	& span::after, & span::before{
	    		content: '';
	    		width: 100%;
	    		height: 100%;
	    		background-color: #f5f5f5;
	    		display: inline-block;
	    		position: absolute;
				animation: loading-line 1s cubic-bezier(0,0,0.09,0.87);
	    	}
	    	& span::before{
	    		animation-delay: 0.1s;
	    		animation-duration: 0.8s;
	    		margin-left: -100%;
	    		background-color: currentColor;	    		
	    	}
	    }
    }
	@media screen and (max-width: 650px){	
    	flex-direction: column;
    	.card{
    		margin-bottom: 40px;
    		max-width: 400px;
    		width: 80%;
    	}
    }
}
#modals{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.41);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 92;
	transition: opacity 0.5s $curve;
	& > *{
		display: none;
		opacity: 0;
		background-color: white;
		height: 80%;
		width: 80%;
		max-height: 160px;
		padding: 20px;
		position: relative;
		border-radius: 4px;
		transition: opacity 0.5s $curve;
		form{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
			input {
				width: calc(100% - 12px);
			    border: none;
			    border-bottom: 1px solid #363636;
			    padding: 6px;
			    margin-bottom: 20px;
			    outline: none;
			    font-size: 16px;
    			font-family: 'Raleway';
			}
			.form-group{
				display: flex;
				align-items: center;
				justify-content: space-between;
				& > *{
					width: calc(50% - 18px)
				}
			}
			.button{
				border: none;
				background-color: transparent;
				padding: 0 10px;
				text-align: center;
				cursor: pointer;
				position: relative;
				.text{
					position: relative;
					z-index: 3;
					text-decoration: none;
					color: #363636;
				}
				&::before, &::after{
		    		content: '';
		    		z-index: 2;
		    		left: 0;
		    		display: inline-block;
		    		position: absolute;
	    			transition: all .5s $curve;
		    	}
		    	&::before{ /* background */
					width: 0%;
					height: 8px;
		    		background-color: $verde;
		    		margin-top: 5px;
		    	}
		    	/* line */
		    	/*&::after{ 
					width: 100%;
				    height: 1px;
				    background-color: #363636;
				    top: 22px;
		    	}*/
			}
			.button:hover{
		    	&::before{
		    		width: 100%;	    		
		    	}
		    	/* line */
		    	/*&::after{
		    		width: 0%;	    		
		    	}*/
			}
		}
	}
	.header{
		h3{
			margin: 0;
			margin-top: -6px;
			font-weight: 200;
    		font-size: 14px;
		}
	}
	.close{
		position: absolute;
	    top: 0px;
	    right: 0px;
	    cursor: pointer;
	    width: 30px;
	    height: 30px;
	    padding: 10px;
	    stroke: white;
	    stroke-width: 1.5;
		transition: all .5s $curve;
	    &:hover{
	    	fill: $rosado;
	    }
	}
	.login{
		max-width: 300px;
		transition: all .5s $curve;
		overflow: hidden;
		&.hide{
			width: 0 !important;
			padding-left: 0;
			padding-right: 0;
			opacity: 0;
		}
		.button::before{
			opacity: 0.5;
			background-color: $rosado;
		}
	}
	.register{
		max-width: 380px;
		transition: all .5s $curve;
		overflow: hidden;
		&.hide{
			width: 0 !important;
			padding-left: 0;
			padding-right: 0;
			opacity: 0;
		}
	}
}
@keyframes loading-line {
    0% {
    	left: 0;
        margin-left: -100%;
    }
    10% {
        margin-left: -20%;
    }
    15% {
        margin-left: 10%;
    }
    25% {
        margin-left: 50%;
    }
    30% {
        margin-left: 60%;
    }
    50% {
        margin-left: 80%;
    }
    70% {
        margin-left: 100%;
    }
    80% {
        margin-left: 100%;
    }
    100% {
        margin-left: 100%;
    }
}