@import 'main.scss';
header{
	@include general_header();
	.config{
		&, .filters, .from-to{
			display: flex;
			align-items: center;
		}
		.filters{
			margin-left: 20px;
			& > span{
				margin-right: 10px;
				display: inline-block;
			}
		}
		.select-control{
			width: 120px;
			margin-right: 10px;
			span{
				font-family: 'Roboto';
				font-weight: 200;
			}
			&[name="desde"], &[name="hasta"]{
				width: 180px;
			}
			&[name="horario"]{
				width: 180px;
			}
			&[name="tarifas"]{
				width: 180px;
				ul:not(.ocultar){
					height: 67px;
				}
			}
			&[name="estado"]{
				width: 150px;
				.option{
					position: relative;
					&::after{
						content: '';
						width: 10px;
						height: 10px;
						border-radius: 100%;
						position: absolute;
						right: 6px;
						top: 12px;
					}
					&[value="retrasado"]::after{
						background-color: #5029c8;
						opacity: 0.7;
					}
					&[value="llego"]::after{
						background-color: $verde;
						opacity: 0.9;
					}
					&[value="salio"]::after{
						background-color: #2b70c6;
						opacity: 0.9;
					}
					&[value="pospuesto"]::after{
						background-color: #ffd4b0;
						opacity: 0.9;
					}
					&[value="cancelado"]::after{
						background-color: $rosado;
						opacity: 0.9;
					}
					&:hover{
						background-color: #f1f1f1;
					}
				}
			}
		}
	}
	.toggle-filters{
		position: absolute;
		top: -60px;
		padding: 0px 8px;
		cursor: pointer;
		opacity: 0;
		font-size: 14px;
    	text-transform: uppercase;
    	overflow: hidden;
		transition: all .5s $curve;
		z-index: 99999;
		display: flex;
		white-space: nowrap;
		flex-wrap: nowrap;
		height: 40px;
	    width: 40px;
	    align-items: center;
		& > *{
			transition: all .5s $curve;
		}
		svg{
			fill: white;
			width: 30px;
			height: 30px;
			min-width: 30px;
    		min-height: 30px;
		}
		.close{
			opacity: 0;
		}
		.filters-ico{
			margin-left: 0;
			fill: #363636;
			display: inline-block;
		}
	}
	@media screen and (max-width: 1194px){
		.config{
			flex-direction: column;
    		align-items: flex-start;
    		.from-to{
    			margin-bottom: 12px;
    		}
    	}
		.menu{
			align-self: flex-start;
			position: absolute;
		    right: 20px;
		    top: 15px;
		}
	}
	@media screen and (max-width: 660px){
		height: 20px;
		.toggle-filters{
			opacity: 1;
			top: 6px;
			&.active{
				right: 0;
				.close{
					opacity: 1;
				}
				.filters-ico{
					margin-left: -30px;
					opacity: 0;
				}
			}
		}
		.config{
			position: absolute;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    background-color: rgba(30, 30, 30, 0.74);
		    z-index: 999;
		    align-items: center;
		    justify-content: center;
		    top: -120%;
		    opacity: 0;
		    overflow: hidden;
		    transition: all .5s $curve;
		    & > *{
		    	width: 80%;
		    	max-width: 380px;
		    }
		    .from-to{
		    	.select-control:nth-child(2){
		    		margin-right: 0;
		    	}
		    }
		    .filters{
		   		flex-direction: column;
		   		margin-left: 0;
		   		& > *{
		   			width: 100% !important;
    				margin-right: 0 !important;
		   		}
		   		& > span{
		   			color: white;
		   			margin-bottom: 10px;
		    	}
		   		.select-control{
		   			margin-bottom: 20px;
		   		}
		    }
		    &.show{
		    	top: 0;
		    	opacity: 1;
			}
		}
	}
}
#flights{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	padding-right: 20px;
	.flight{
		display: flex;
		flex-direction: column;
		overflow: hidden;
		margin-left: 20px;
		max-width: none;
		width: calc(100% / 4 - 20px);
		margin-bottom: 20px;
		.img{
			width: 100%;
			height: 80%;
			margin-top: -16px;
    		margin-bottom: 15px;
			background-position: center;
			background-size: cover;
			position: relative;
			&::after{
				content: '';
			    display: block;
			    height: 100%;
			    width: 100%;
			    top: 0;
			    left: 0;
			    position: absolute;
			    pointer-events: none;
			    background: #e6e6fa;
			    opacity: 0;
			    transition: all .5s $curve;
			}
		}
		svg{
			width: 15px;
			height: 15px;
			stroke: white;
			stroke-width: 0.5;
		}
		.content{
			display: flex;
			flex-direction: column;
			width: calc(100% - 20px);
			padding: 0 10px;
			& > *{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			& > div:last-child{
				justify-content: flex-start;
				margin-top: 10px;
				margin-bottom: 15px;
			}
			.path{
				display: flex;
				align-items: center;
				svg{
					margin: 0 6px;
				}
			}
			.state{
				font-size: 10px;
			    text-transform: uppercase;
			    position: relative;
			    margin-right: 20px;
			    overflow: visible;
			   	opacity: 1;
    			&::after{
					content: '';
				    width: 10px;
				    height: 10px;
				    border-radius: 100%;
				    position: absolute;
				    right: -15px;
				}
				&.retrasado::after{
					background-color: #5029c8;
					opacity: 0.7;
				}
				&.llego::after{
					background-color: $verde;
					opacity: 0.9;
				}
				&.salio::after{
					background-color: #2b70c6;
					opacity: 0.9;
				}
				&.pospuesto::after{
					background-color: #ffd4b0;
					opacity: 0.9;
				}
				&.cancelado::after{
					background-color: $rosado;
					opacity: 0.9;
				}
			}
			.cost{
				font-family: 'Roboto';
				font-weight: 200;
				display: inline-block;
				svg{
					fill: $verde;
					margin-bottom: -3px;
				}
			}
			.airline{
				margin-left: 20px;
				position: relative;
			    overflow: visible;
				&::before{
					content: '';
				    width: 4px;
				    height: 4px;
				    border-radius: 100%;
				    position: absolute;
				    background-color: #363636;
				    left: -12px;
    				top: 7px;
				}
			}
		}
		&:hover{
			.img:after{
				opacity: 0.4;
			}
		}
		@media screen and (max-width: 1210px){
			width: calc(100% / 3 - 20px);
		}
		@media screen and (max-width: 915px){
			width: calc(100% / 2 - 20px);
		}
		@media screen and (max-width: 615px){
			width: calc(100% - 20px);
		}
	}
}
#modals{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.41);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 92;
	transition: opacity 0.5s $curve;
	& > *{
		display: none;
		opacity: 0;
		background-color: white;
		height: 80%;
		width: 80%;
		max-height: 270px;
		padding: 20px;
		position: relative;
		border-radius: 4px;
		transition: opacity 0.5s $curve;
	}
	.header{
		h3{
			margin: 0;
			margin-top: -6px;
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    		width: calc(100% - 30px);
    		.button{
				font-weight: 200;
    			font-size: 14px;
    			padding: 4px 8px;
				position: relative;
				color: #363636;
				cursor: pointer;
	    		transition: all .5s $curve;
				.text{
					position: relative;
					z-index: 3;
					text-decoration: none;
				}
				&::before{
		    		content: '';
		    		z-index: 2;
		    		left: 0;
		    		display: inline-block;
		    		position: absolute;
		    		width: 0%;
					height: 8px;
		    		margin-top: 4px;
		    		background-color: $azul_verdoso;
	    			transition: all .5s $curve;
		    	}
		    	&:hover{
		    		&::before{
			    		width: 100%;	    		
			    	}
		    	}
    		}
    		.schedule{
				font-size: 14px;
				font-weight: 200;
				opacity: 0.8;
				font-family: 'Roboto';
			}
		}
	}
	.close{
		position: absolute;
	    top: 0px;
	    right: 0px;
	    cursor: pointer;
	    width: 30px;
	    height: 30px;
	    padding: 10px;
	    stroke: white;
	    stroke-width: 1.5;
		transition: all .5s $curve;
	    &:hover{
	    	fill: $rosado;
	    }
	}
	.book{
		max-width: 400px;
		transition: all .5s $curve;
		overflow: hidden;
		.content{
			display: flex;
			flex-direction: column;
			width: 100%;
			& > *{
				display: flex;
			}
			.info{
				width: 100%;
				align-items: center;
				justify-content: space-between;
				h2{
					font-size: 22px;
				    font-weight: 300;
				    margin-bottom: 5px;
				}
				&:nth-child(2){
					margin-bottom: 20px;
				}
				span{
					font-weight: 200;
    				font-size: 14px;
				}
				.id{
					font-family: 'Roboto';
					font-size: 16px;
				}
			}
			.seating{
				flex-wrap: wrap;
				width: 100%;
				.seat{
					width: calc(100% / 7 - 8px);
					padding: 4px;
					transition: all .5s $curve;
					text-align: center;
					cursor: pointer;
					border-radius: 2px;
					font-family: 'Roboto';
					font-weight: 200;
					&:hover{
						background-color: #eee;
					}
					&.occupied{
						background-color: $rosado;
						color: #363636;
						&:hover{
							background-color: $rosado;
						}
					}
					&.selected{
						color: $azul_verdoso;
					}
				}
			}
		}
	}
}