@import 'main.scss';
header{
	@include general_header();
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form{
	width: calc(100% - 80px);
    max-width: 450px;
    padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
    min-height: calc(100% - 20px);
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0px rgba(31, 46, 95, 0.1);
	.form-element{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		width: 100%;
		& > *:not(label) {
			width: calc(100% - 170px);
		}
		input{
		    border: none;
		    border-bottom: 1px solid #363636;
		    padding: 6px 0;
		    margin-bottom: 20px;
		    outline: none;
		    font-size: 16px;
			font-family: 'Roboto';
			font-weight: 200;
		}
		
		.form-group{
			display: flex;
			flex-direction: column;
			align-items: center;
			input{
				width: 100%;
			}
		}
		@media screen and (max-width: 450px){
			&:nth-child(2){
				flex-direction: column;
				.form-group{
					width: 100%;
				}
			}
		}

	}
	.credit-card{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		position: relative;
    	margin-bottom: 40px;
    	& > span{
    		align-self: flex-start;
		    font-size: 14px;
		    margin-bottom: 10px;
		    opacity: 0.7;
    	}
		input {
			width: 100%;
		    border: none;
		    border-bottom: 1px solid #363636;
		    padding: 6px 0;
		    margin-bottom: 20px;
		    outline: none;
		    font-size: 16px;
			font-family: 'Roboto';
			font-weight: 200;
		}
		.form-group{
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			padding-top: 30px;
			& > *{
				width: calc(100% - 168px);
			}
			.logo{
				width: 50px;
				height: 50px;
			}
			input[name="ccv"]{
				width: 60px;
				max-width: 60px;
				margin-bottom: 3px;
			}
			.expiracion{
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
				& > span{
					position: absolute;
					top: -30px;
					left: 1px;
				}
				.select-control{
					width: calc(50% - 10px);
					font-family: 'Roboto';
					font-weight: 200;
				}
				&:last-child{
					margin-left: 10px;
				}
			}
			@media screen and (max-width: 430px){
				justify-content: flex-start;
				input[name="ccv"]{
					margin-left: 20px;
				}
				.logo{
					width: 20px;
				    height: 20px;
				    position: absolute;
				    bottom: -25px;
				    right: 5px;
				}
				.expiracion{
				    width: calc(100% - 80px);
				}
			}
		}
	}
	.button{
		font-weight: 200;
		font-size: 14px;
		padding: 4px 8px;
		position: relative;
		color: #363636;
		cursor: pointer;
		transition: all .5s $curve;
		.text{
			position: relative;
			z-index: 3;
			text-decoration: none;
		}
		&::before{
    		content: '';
    		z-index: 2;
    		left: 0;
    		display: inline-block;
    		position: absolute;
    		width: 0%;
			height: 8px;
    		margin-top: 4px;
    		background-color: #ffd4b0;
			transition: all .5s $curve;
    	}
    	&:hover{
    		&::before{
	    		width: 100%;	    		
	    	}
    	}
	}
	@media screen and (max-width: 390px){
		width: calc(100% - 40px);
	}
}