@import 'main.scss';
header{
	@include general_header();
}
main{
	min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    .card{
    	width: calc(100% / 3 - 40px);
    	transition-timing-function: cubic-bezier(0, 0, 0.76, 1.52);
    	svg{
    		width: 80px;
    		height: 80px;
    	}
    	&.consultar{
    		background-color: $azul_oscuro;
    		color: #ddd;
    		svg{
    			stroke: $azul_oscuro;
    		}
    		&:hover{
    			box-shadow: 0 0 12px 2px rgba(31, 46, 95, 0.5);
    		}
    	}
    	&.reservar{
    		background-color: $azul_verdoso;
    		color: white;
    		svg{
    			stroke: $azul_verdoso;
    		}
    		&:hover{
    			box-shadow: 0 0 12px 2px rgba(37, 215, 207, 0.6);
    		}
    	}
    	&.pagos{
    		background-color: $rosado;
    		svg{
    			stroke: $rosado;
    		}
    		&:hover{
    			box-shadow: 0 0 12px 2px rgba(226, 107, 110, 0.6);
    		}
    	}
    	&.reservar, &.pagos{
    		color: #363636;
    	}
    	@media screen and (max-width: 850px){
    		height: 250px;
    	}
    	@media screen and (max-width: 850px){
    		height: 200px;
    	}
    }
    @media screen and (max-width: 650px){	
    	flex-direction: column;
    	.card{
    		margin-bottom: 40px;
    		max-width: 400px;
    		width: 80%;
    	}
    }
}