$azul_oscuro: #1F2E5F;
$azul_claro: #29A9C8;
$azul_verdoso: #25D7CF;
$verde: #1BF9CF;
$rosado: #E26B6E;
$curve: cubic-bezier(0,0,0.09,0.87);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-track{
	width: 15px;
	background-color: #eee;
}
::-webkit-scrollbar-button {
	background-color: #eee;
}
::-webkit-scrollbar-thumb{
	background-color: #ddd;
}
::-webkit-scrollbar-thumb:active{
	background-color: $azul_oscuro;
}
body{
	background-color: #f8f8f8;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', 'Arial';
	&.not-scroll{
		overflow-y: hidden;
	}
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
a{
	text-decoration: none;
	color: #363636;
	outline: none;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
input{
	outline: none;
	text-overflow: ellipsis;
}
.select-control{
	position: relative;
	.drop-down-launcher {
	    padding: 6px;
	    border-radius: 2px;
	    border: none;
	    background-color: #eee;
	    margin-right: -4px;
	    cursor: pointer;
	    width: calc(100% - 12px);
	    text-align: center;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-align: center;
	        align-items: center;
	    transition: background .5s cubic-bezier(0,0,0.09,0.87);
		svg{
			width: 15px;
	    	height: 15px;
	    	fill: $azul_claro;
		}
		span{
			text-transform: capitalize;
			width: calc(100% - 44px) !important;
    		border: none !important;
    		cursor: pointer;
    		background-color: transparent;
    		padding-left: 0 !important;
    		text-overflow: ellipsis;
		    white-space: nowrap;
		    overflow: hidden;
		    padding-right: 20px;
		}
	}
	ul{
	    height: 128px;
	    overflow-y: auto;
	    overflow-x: hidden;
	    padding-left: 0;
	    width: calc(100% - 2px);
	    position: absolute;
	    z-index: 999;
	    border: 1px solid #eee;
	    border-top: none;
		background-color: #f8f8f8;	    
	    transition: all .5s cubic-bezier(0,0,0.09,0.87);
	    &.ocultar{
		    height: 0;
		    opacity: 0;
		    display: inline-block !important;
		}
		option, .option{
		    cursor: pointer;
		    padding: 6px 4px;
		    font-family: 'Roboto';
    		font-weight: 200;
    		white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
		    border-top: 1px solid rgba(31, 46, 95, 0.32);
	    	transition: all .2s cubic-bezier(0,0,0.09,0.87);
    		&:first-child{
    			border-top: none;
    		}
		    &:hover {
			    background-color: rgba(31, 46, 95, 0.22);
    			color: #363636;
			    & + option, & + .option, &{
			    	border-color: transparent;
			    }
			}
			&.activa{
			    display: none;
			}
		}
	}
	&.autocompletado {
		display: -ms-flexbox;
		display: flex;
    	-ms-flex-align: center;
    	    align-items: center;
		input{
	    	width: calc(100% - 40px) !important;
    		border: none !important;
    		cursor: pointer;
    		background-color: transparent;
    		padding-left: 0 !important;
    		&:focus{
			    cursor: auto !important; 
			}
	    }
	    ul{
	    	top: 36px;
    		left: 0px;
	    }
	    img{
		    height: 20px;
		    width: 0px;
		    margin-left: 0px;
		    opacity: 0;
		    transition: all .5s cubic-bezier(0,0,0.09,0.87);
		}
		&.loading {
			img{
		    	opacity: 1;
			    width: 20px;
			    margin-left: 10px;
			}
			ul{
				width: calc(100% - 28px);
			}
		}
	}
	&.disabled {
		.drop-down-launcher, &, .drop-down-launcher input {
	   		cursor: not-allowed !important;
	   	}
	}
}
@mixin general_header(){
	width: calc(100% - 40px);
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logo{
		width: 50px;
		height: 50px;
		background-image: url(../img/logo.png);
		background-position: center;
		background-size: cover;
	}
	.menu{
		a{
			text-decoration: none;
			padding: 4px 8px;
			position: relative;
			color: #363636;
    		transition: all .5s $curve;
			.text{
				position: relative;
				z-index: 3;
				text-decoration: none;
				@media screen and (max-width: 430px){
					font-size: 12px;
				}
			}
			&::before{
	    		content: '';
	    		z-index: 2;
	    		left: 0;
	    		display: inline-block;
	    		position: absolute;
	    		width: 0%;
				height: 8px;
	    		margin-top: 5px;
    			transition: all .5s $curve;
	    	}
	    	&[href="consultar.html"]::before{
	    		background-color: $azul_oscuro;
	    		opacity: 0.2;
	    	}
	    	&[href="reservar.html"]::before{
	    		background-color: $azul_verdoso;
	    	}
	    	&[href="pagos.html"]::before{
	    		background-color: $rosado;
	    		opacity: 0.5;
	    	}
	    	&[href="cuenta.html"]::before{
	    		background-color: #ffd4b0;
	    		opacity: 0.5;
	    	}
	    	&:hover{
	    		&::before{
		    		width: 100%;	    		
		    	}
	    	}
		}
	}
}
.card{
	background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: 300px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s $curve;
    color: $azul_oscuro;
    box-shadow: 0 0 8px 0px rgba(31, 46, 95, 0.1);
    svg{
    	width: 120px;
    	height: 120px;
    	fill: currentColor;
    	stroke: white;
    }
    & > span{
    	display: inline-block;
    	position: relative;
    	overflow: hidden;
    	opacity: 0.7;
    }
    &#openRegister {
    	svg{
    		fill: $azul_verdoso;
    	}
    	span{
    		color: $azul_verdoso;
    	}
    }
    @media screen and (max-width: 450px){	
    	height: 200px;
    }
}