@import 'main.scss';
header{
	@include general_header();
}
#flights{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	padding-right: 20px;
	.flight{
		display: flex;
		flex-direction: column;
		overflow: hidden;
		margin-left: 20px;
		max-width: none;
		width: calc(100% / 4 - 20px);
		margin-bottom: 20px;
		position: relative;
		&::after{
			content: 'Comprar';
		    width: 100%;
		    position: absolute;
		    top: calc(50% - 40px);
		    left: 100%;
		    opacity: 0;
		    display: block;
		    text-align: center;
			transition: all .5s $curve;
		}
		.img{
			width: 100%;
			height: 80%;
			margin-top: -16px;
    		margin-bottom: 15px;
			background-position: center;
			background-size: cover;
			position: relative;
			transition: filter .5s $curve;
			&::after{
				content: '';
			    display: block;
			    height: 100%;
			    width: 100%;
			    top: 0;
			    left: 0;
			    position: absolute;
			    pointer-events: none;
			    background: #e6e6fa;
			    opacity: 0;
			    transition: all .5s $curve;
			}
		}
		svg{
			width: 15px;
			height: 15px;
			stroke: white;
			stroke-width: 0.5;
		}
		.content{
			display: flex;
			flex-direction: column;
			width: calc(100% - 20px);
			padding: 0 10px;
			& > *{
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			& > div:last-child{
				justify-content: flex-start;
				margin-top: 10px;
				margin-bottom: 15px;
			}
			.path{
				display: flex;
				align-items: center;
				svg{
					margin: 0 6px;
				}
			}
			.state{
				font-size: 10px;
			    text-transform: uppercase;
			    position: relative;
			    margin-right: 20px;
			    overflow: visible;
			   	opacity: 1;
    			&::after{
					content: '';
				    width: 10px;
				    height: 10px;
				    border-radius: 100%;
				    position: absolute;
				    right: -15px;
				}
				&.retrasado::after{
					background-color: #5029c8;
					opacity: 0.7;
				}
				&.llego::after{
					background-color: $verde;
					opacity: 0.9;
				}
				&.salio::after{
					background-color: #2b70c6;
					opacity: 0.9;
				}
				&.pospuesto::after{
					background-color: #ffd4b0;
					opacity: 0.9;
				}
				&.cancelado::after{
					background-color: $rosado;
					opacity: 0.9;
				}
			}
			.cost{
				font-family: 'Roboto';
				font-weight: 200;
				display: inline-block;
				svg{
					fill: $verde;
					margin-bottom: -3px;
				}
			}
			.airline{
				margin-left: 20px;
				position: relative;
			    overflow: visible;
				&::before{
					content: '';
				    width: 4px;
				    height: 4px;
				    border-radius: 100%;
				    position: absolute;
				    background-color: #363636;
				    left: -12px;
    				top: 7px;
				}
			}
		}
		&:hover{
			.img{
				filter: blur(2px);
				&::after{
					opacity: 0.8;
				}
			}
			&::after{
				left: 0;
				opacity: 1;
			}
		}
		@media screen and (max-width: 1210px){
			width: calc(100% / 3 - 20px);
		}
		@media screen and (max-width: 915px){
			width: calc(100% / 2 - 20px);
		}
		@media screen and (max-width: 615px){
			width: calc(100% - 20px);
		}
	}
}
#modals{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.41);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 92;
	transition: opacity 0.5s $curve;
	& > *{
		display: none;
		opacity: 0;
		background-color: white;
		height: 80%;
		width: 80%;
		max-height: 225px;
		padding: 20px;
		position: relative;
		border-radius: 4px;
		transition: opacity 0.5s $curve;
	}
	.header{
		h3{
			margin: 0;
			margin-top: -6px;
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    		width: calc(100% - 30px);
    		.button{
				font-weight: 200;
    			font-size: 14px;
    			padding: 4px 8px;
				position: relative;
				color: #363636;
				cursor: pointer;
	    		transition: all .5s $curve;
				.text{
					position: relative;
					z-index: 3;
					text-decoration: none;
				}
				&::before{
		    		content: '';
		    		z-index: 2;
		    		left: 0;
		    		display: inline-block;
		    		position: absolute;
		    		width: 0%;
					height: 8px;
		    		margin-top: 4px;
		    		background-color: $rosado;
	    			transition: all .5s $curve;
		    	}
		    	&:hover{
		    		&::before{
			    		width: 100%;	    		
			    	}
		    	}
    		}
    		.cost{
    			display: flex;
    			align-items: center;
    			span{
    				font-size: 14x;
					font-weight: 200;
					opacity: 0.8;
					font-family: 'Roboto';
    			}
    			svg{
					fill: $verde;
					width: 24px;
					height: 24px;
    				stroke: white;
    				margin-right: 6px;
				}
			}
		}
	}
	.close{
		position: absolute;
	    top: 0px;
	    right: 0px;
	    cursor: pointer;
	    width: 30px;
	    height: 30px;
	    padding: 10px;
	    stroke: white;
	    stroke-width: 1.5;
		transition: all .5s $curve;
	    &:hover{
	    	fill: $rosado;
	    }
	}
	.pay{
		max-width: 400px;
		transition: all .5s $curve;
		.content{
			width: 100%;
			margin-top: 40px;
			form{
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 20px;
				input {
					width: 100%;
				    border: none;
				    border-bottom: 1px solid #363636;
				    padding: 6px 0;
				    margin-bottom: 20px;
				    outline: none;
				    font-size: 16px;
					font-family: 'Roboto';
					font-weight: 200;
				}
				.form-group{
					display: flex;
					align-items: center;
					width: 100%;
					justify-content: space-between;
					padding-top: 30px;
					& > *{
						width: calc(100% - 168px);
					}
					.logo{
						width: 50px;
						height: 50px;
					}
					input[name="ccv"]{
						width: 60px;
						max-width: 60px;
						margin-bottom: 3px;
					}
					.expiracion{
						display: flex;
						align-items: center;
						justify-content: space-between;
						position: relative;
						& > span{
							position: absolute;
							top: -30px;
    						left: 1px;
						}
						.select-control{
							width: calc(50% - 10px);
							font-family: 'Roboto';
							font-weight: 200;
						}
						&:last-child{
							margin-left: 10px;
						}
					}
					@media screen and (max-width: 430px){
						justify-content: flex-start;
						input[name="ccv"]{
							margin-left: 20px;
						}
						.logo{
							width: 20px;
						    height: 20px;
						    position: absolute;
						    bottom: 5px;
						    right: 5px;
						}
						.expiracion{
						    width: calc(100% - 80px);
						}
					}
				}
			}
		}
		@media screen and (max-width: 430px){
			width: 100%;
			height: calc(100% - 40px);
			max-height: none;
			border-radius: 0;
		}
	}
}