@import 'main.scss';
header{
	@include general_header();
}
main{
	min-height: calc(100vh - 200px);
	display: flex;
	align-items: center;
	justify-content: center;
	input{
		width: 300px;
		padding: 8px;
		font-size: 18px;
		font-weight: 200;
		outline: none;
		font-family: 'Raleway';
		border: none;
	    background-color: #eee;
	    color: #363636;
	    border-radius: 2px;
	    @media screen and (max-width: 550px){
	    	width: calc(100% - 150px);
	    }
	}
	#verificar{
		text-decoration: none;
		padding: 4px 8px;
		position: relative;
		color: #363636;
		transition: all .5s $curve;
		cursor: pointer;
		margin-left: 20px;
		.text{
			position: relative;
			z-index: 3;
			text-decoration: none;
		}
		&::before{
    		content: '';
    		z-index: 2;
    		left: 0;
    		display: inline-block;
    		position: absolute;
    		width: 0%;
			height: 8px;
    		margin-top: 5px;
    		background-color: $azul_verdoso;
    		opacity: 0.2;
			transition: all .5s $curve;
    	}
    	&:hover{
    		&::before{
	    		width: 100%;	    		
	    	}
    	}
	}
}
#modals{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.41);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 92;
	transition: opacity 0.5s $curve;
	& > *{
		display: none;
		opacity: 0;
		background-color: white;
		height: 80%;
		width: 80%;
		max-height: 270px;
		padding: 20px;
		position: relative;
		border-radius: 4px;
		transition: opacity 0.5s $curve;
	}
	.header{
		h3{
			margin: 0;
			margin-top: -6px;
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    		width: calc(100% - 30px);
    		.button{
				font-weight: 200;
    			font-size: 14px;
    			padding: 4px 8px;
				position: relative;
				color: #363636;
				cursor: pointer;
	    		transition: all .5s $curve;
				.text{
					position: relative;
					z-index: 3;
					text-decoration: none;
				}
				&::before{
		    		content: '';
		    		z-index: 2;
		    		left: 0;
		    		display: inline-block;
		    		position: absolute;
		    		width: 0%;
					height: 8px;
		    		margin-top: 4px;
		    		background-color: $azul_verdoso;
	    			transition: all .5s $curve;
		    	}
		    	&:hover{
		    		&::before{
			    		width: 100%;	    		
			    	}
		    	}
    		}
    		.schedule{
				font-size: 14px;
				font-weight: 200;
				opacity: 0.8;
				font-family: 'Roboto';
			}
		}
	}
	.close{
		position: absolute;
	    top: 0px;
	    right: 0px;
	    cursor: pointer;
	    width: 30px;
	    height: 30px;
	    padding: 10px;
	    stroke: white;
	    stroke-width: 1.5;
		transition: all .5s $curve;
	    &:hover{
	    	fill: $rosado;
	    }
	}
	.book{
		max-width: 400px;
		transition: all .5s $curve;
		overflow: hidden;
		.content{
			display: flex;
			flex-direction: column;
			width: 100%;
			& > *{
				display: flex;
			}
			.info{
				width: 100%;
				align-items: center;
				justify-content: space-between;
				h2{
					font-size: 22px;
				    font-weight: 300;
				    margin-bottom: 5px;
				}
				&:nth-child(2){
					margin-bottom: 20px;
				}
				span{
					font-weight: 200;
    				font-size: 14px;
				}
				.id{
					font-family: 'Roboto';
					font-size: 16px;
				}
			}
			.seating{
				flex-wrap: wrap;
				width: 100%;
				.seat{
					width: calc(100% / 7 - 8px);
					padding: 4px;
					transition: all .5s $curve;
					text-align: center;
					cursor: pointer;
					border-radius: 2px;
					font-family: 'Roboto';
					font-weight: 200;
					&:hover{
						background-color: #eee;
					}
					&.occupied{
						background-color: $rosado;
						color: #363636;
						&:hover{
							background-color: $rosado;
						}
					}
					&.selected{
						color: $azul_verdoso;
					}
				}
			}
		}
	}
}